/* * {
  border: 1px solid red;
} */
body {
  margin: 0px;
  font-family: "berlin sans fb", sans serf;
}
/*initialize flexbox container and flexbox items*/
.fc > * {

  padding: 20px;
  flex: 1;
  min-width: 200px;

}
.fc {
  display: flex;
  flex-flow: row wrap;
  /*ensure flex-container is always at least as tall as the viewport.
  Keeps footer from coming up*/
  min-height: 100vh;

}
/* header and footer should be full width */

.fc header,
.fc footer {
  margin: 0px;
  flex: 0 1 100vw;
  color: white;
}

ul {
  list-style: none;
}
header {
  background-color: #264e8e;
}
footer {
  background-color: #39393a;
}
section {
  width: 300px;
}
section img {
  width: inherit;
}
